  <!-- Carrusel de inicio -->
  <div class="container">
    <header class="text-center py-2">
      <img src="multimedia/logo-yanbal.svg" alt="Ruth Campos - Yanbal" class="img-fluid mx-auto d-block" width="200">
      <p>Grupo 306278</p>
    </header>

    <div class="container">
      <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="multimedia/ruthPortada1.png" class="d-block w-100" alt="Imagen 1">
            <div class="carousel-caption">
              <a href="https://api.whatsapp.com/send?phone=593991611229&text=Hola%20Ruth,%20me%20interesa%20saber%20sobre%20Yanbal"
                target="_blank" class="carousel-button">Contactar por WhatsApp</a>
            </div>
          </div>
          <div class="carousel-item">
            <img src="multimedia/negocioYanbal.png" class="d-block w-100" alt="Imagen 2">
            <div class="carousel-caption">
              <a href="https://api.whatsapp.com/send?phone=593991611229&text=Hola%20Ruth,%20me%20interesa%20saber%20sobre%20Yanbal"
                target="_blank" class="carousel-button">Conoce más</a>
            </div>
          </div>
          <div class="carousel-item">
            <img src="multimedia/EllasEmpezaronComoTu.png" class="d-block w-100" alt="Imagen 2">
            <div class="carousel-caption">
              <a href="https://api.whatsapp.com/send?phone=593991611229&text=Hola%20Ruth,%20me%20interesa%20saber%20sobre%20Yanbal"
                target="_blank" class="carousel-button">Conoce más</a>
            </div>
          </div>
          <div class="carousel-item">
            <img src="multimedia/productosYanbalGif.gif" class="d-block w-100" alt="Imagen 2">
            <div class="carousel-caption">
              <a href="https://api.whatsapp.com/send?phone=593991611229&text=Hola%20Ruth,%20me%20interesa%20saber%20sobre%20Yanbal"
                target="_blank" class="carousel-button">Aprende a venderlos</a>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
    </div>
  </div>