

<footer>
    <div class="footer-section" style="background-color: #fddec5;">
      <p>Todos nuestros productos son:</p>
      <div class="logos-grandes">
        <img src="multimedia/footerCleanBeauty.svg" alt="Formula Segura">
        <img src="multimedia/footerCruelty.svg" alt="No testeado en animales">
        <img src="multimedia/footerDermatologically.svg" alt="Dermatologicamente probado">
        <img src="multimedia/footerComplianceMetals.svg" alt="Metales 100% Regulados">
      </div>
    </div>
    <div class="footer-section">
      <p>Redes sociales Ruth Campos:</p>
      <div class="redes-sociales">
        <a href="https://www.facebook.com/ruth.campos.1422" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/ruthnoemicampos/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.tiktok.com/@ruthnoemicampos" target="_blank"><i class="fab fa-tiktok"></i></a>
        <a href="https://www.youtube.com/channel/UC1zjr2H2vZg2EXa_3vR7MAA" target="_blank"><i
            class="fab fa-youtube"></i></a>
      </div>
    </div>
    <p>&copy; 2024 Ruth Campos - Directora Yanbal. Todos los derechos reservados.</p>
  </footer>