
<div class="container" style="margin-top: 50px;" id="preguntasFrecuentes">
    <h2>Preguntas Frecuentes</h2>
    <ul class="nav nav-tabs" id="myTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active custom-tab" id="comoEmpezar-tab" data-bs-toggle="tab" href="#comoEmpezar" role="tab"
          aria-controls="comoEmpezar" aria-selected="true">Como empezar</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link custom-tab" id="emprendimiento-tab" data-bs-toggle="tab" href="#emprendimiento" role="tab"
          aria-controls="emprendimiento" aria-selected="false">Emprendimiento Yanbal</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link custom-tab" id="directora-tab" data-bs-toggle="tab" href="#directora" role="tab"
          aria-controls="directora" aria-selected="false">Ser Directora independiente</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link custom-tab" id="productos-tab" data-bs-toggle="tab" href="#productos" role="tab"
          aria-controls="productos" aria-selected="false">Nuestros productos</a>
      </li>
    </ul>

    <div class="tab-content" id="myTabsContent">
      <div class="tab-pane fade show active" id="comoEmpezar" role="tabpanel" aria-labelledby="comoEmpezar-tab">
        <h3 style="margin: 20px;">¿Como empezar?</h3>
        <div style="margin: 20px;">
          <div class="accordion accordion-flush" id="accordionComoEmpezar">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseComoEmpezarOne" aria-expanded="false"
                  aria-controls="flush-collapseComoEmpezarOne">
                  ¿Qué necesito para afiliarme a Yanbal?
                </button>
              </h2>
              <div id="flush-collapseComoEmpezarOne" class="accordion-collapse collapse"
                data-bs-parent="#accordionComoEmpezar">
                <div class="accordion-body">
                  - Cédula. <br> - Un recibo de un servicio básico (Ej. agua, luz,
                  teléfono, internet, tv por cable). <br> - Correo electronico. <br><br>
                  Luego, haz clic <a
                    href="https://api.whatsapp.com/send?phone=593991611229&text=Hola%20Ruth,%20me%20interesa%20saber%20sobre%20Yanbal">aquí</a>
                  para contactarme vía Whatsapp y ayudarte con tu afiliación a la empresa</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseComoEmpezarTwo" aria-expanded="false"
                  aria-controls="flush-collapseComoEmpezarTwo">
                  ¿Cómo me puedo volver consultor@ independiente Yanbal?
                </button>
              </h2>
              <div id="flush-collapseComoEmpezarTwo" class="accordion-collapse collapse"
                data-bs-parent="#accordionComoEmpezar">
                <div class="accordion-body">Debes tener a mano tu cédula, un recibo de agua, luz o telefono que contenga
                  tu dirección exacta,
                  un correo electronico y luego dale clic
                  <a
                    href="https://api.whatsapp.com/send?phone=593991611229&text=Hola%20Ruth,%20me%20interesa%20saber%20sobre%20Yanbal">aquí</a>
                  para que yo pueda ayudarte con tu registro como consultor@ independiente
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseComoEmpezarThree" aria-expanded="false"
                  aria-controls="flush-collapseComoEmpezarThree">
                  ¿Qué significa ser director@ independiente Yanbal?
                </button>
              </h2>
              <div id="flush-collapseComoEmpezarThree" class="accordion-collapse collapse"
                data-bs-parent="#accordionComoEmpezar">
                <div class="accordion-body">Ser director@ independiente Yanbal, es ser lider de un grupo de consultor@s
                  independientes
                  Disfrutas de beneficios exclusivos y tambien mayores ganancias.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseComoEmpezarFour" aria-expanded="false"
                  aria-controls="flush-collapseComoEmpezarFour">
                  ¿Puedo ser consultor@ sin tener un@ directora@ independiente?
                </button>
              </h2>
              <div id="flush-collapseComoEmpezarFour" class="accordion-collapse collapse"
                data-bs-parent="#accordionComoEmpezar">
                <div class="accordion-body">No es posible, es un negocio en donde necesitarás la guía de alguien con
                  experiencia.
                  Yo puedo ser tu directora, dale clic
                  <a
                    href="https://api.whatsapp.com/send?phone=593991611229&text=Hola%20Ruth,%20me%20interesa%20saber%20sobre%20Yanbal">aquí</a>
                  y te ayudaré con todo lo que necesites.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseComoEmpezarFive" aria-expanded="false"
                  aria-controls="flush-collapseComoEmpezarFive">
                  ¿Recibiré acompañamiento y capacitaciones mientras sea consultor@?
                </button>
              </h2>
              <div id="flush-collapseComoEmpezarFive" class="accordion-collapse collapse"
                data-bs-parent="#accordionComoEmpezar">
                <div class="accordion-body">Claro que sí. Tendras el respaldo de tu director@ además de acceso a nuestra
                  plataforma de capacitacion permanente 'Maya', donde podrás aprender todo acerca de nuestros productos
                  y
                  como venderlos, además de las herramientas necesarias para hacerlo.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="emprendimiento" role="tabpanel" aria-labelledby="emprendimiento-tab">
        <h3 style="margin: 20px;">Emprendimiento Yanbal</h3>
        <div style="margin: 20px;">
          <div class="accordion accordion-flush" id="accordionEmpendimiento">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseEmprendimientoOne" aria-expanded="false"
                  aria-controls="flush-collapseEmprendimientoOne">
                  ¿De qué trata el emprendimiento Yanbal?
                </button>
              </h2>
              <div id="flush-collapseEmprendimientoOne" class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  Como consultor@ independiente tendrás un negocio propio de venta de productos de belleza y cuidado
                  personal,
                  donde tus ganancias comerciales aumentarán en la medida que realices más ventas e incorpores a más
                  personas</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseEmprendimientoTwo" aria-expanded="false"
                  aria-controls="flush-collapseEmprendimientoTwo">
                  ¿Necesito alguna inversión para iniciar mi emprendimiento Yanbal?
                </button>
              </h2>
              <div id="flush-collapseEmprendimientoTwo" class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Si, solo el Kit de bienvenida y tenemos 4 opciones, tú eliges la que se
                  acomode mejor a
                  tus necesidades. Luego vendes estos productos, recuperas tu inversión y aumentas tu ganancia.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseEmprendimientoThree" aria-expanded="false"
                  aria-controls="flush-collapseEmprendimientoThree">
                  ¿Como puedo vender mis productos?
                </button>
              </h2>
              <div id="flush-collapseEmprendimientoThree" class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Yanbal te da varias herramientas comerciales para que concretes tus
                  ventas. Tendrás el catálogo
                  en físico, el catálogo digital, el cual se actualiza constantemente con los productos que están en
                  stock. Tenemos el servicio
                  de delívery para todas las ventas que hagas a nivel nacional.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseEmprendimientoFour" aria-expanded="false"
                  aria-controls="flush-collapseEmprendimientoFour">
                  ¿Cómo consigo que otras personas se incorporen como consultor@s independientes?
                </button>
              </h2>
              <div id="flush-collapseEmprendimientoFour" class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Para el proceso de incorporación. Yanbal cuenta con varias herramientas
                  comerciales para ti. Tenemos
                  un flyer impreso, una herramienta interactiva y también una presentación para que le muestres a
                  todos los que están interesados
                  en emprender igual que tú.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="directora" role="tabpanel" aria-labelledby="directora-tab">
        <h3 style="margin: 20px;">Ser Directora Independiente</h3>
        <div style="margin: 20px;">
          <div class="accordion accordion-flush" id="accordionDirectora">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseDirectoraOne" aria-expanded="false"
                  aria-controls="flush-collapseDirectoraOne">
                  ¿Qué significa ser director@ Independiente Yanbal?
                </button>
              </h2>
              <div id="flush-collapseDirectoraOne" class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  Ser director@ Independiente Yanbal es ser un@ empresari@ dueño de un negocio en crecimiento y con
                  grandes
                  ganancias comerciales. Con este emprendimiento, serás lider y podrás dirigir, inspirar y motivar al
                  equipo
                  de consultor@s que incorporaste quienes también pueden formarse como director@s, lo que cambiará sus
                  vidas
                  y además te ayudará a seguir creciendo. Como director@ independiente serás reconocid@por tus logros
                  comerciales
                  en eventos exclusivos, disfrutarás de beneficios exclusivos como incentivos comerciales, viajes
                  nacionales e
                  internacionales y autos 0 km. ¡Fíjate esta meta comercial luego de ser consultor@ independiente!
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseDirectoraTwo" aria-expanded="false"
                  aria-controls="flush-collapseDirectoraTwo">
                  ¿Que necesito para ser director@ independiente Yanbal?
                </button>
              </h2>
              <div id="flush-collapseDirectoraTwo" class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Si ya eres consultor@ independiente Yanbal, primero necesitas incorporar a
                  más personas
                  a Yanbal y motivarlas a pasar pedidos. Para conocer más detalles,
                  <a
                    href="https://api.whatsapp.com/send?phone=593991611229&text=Hola%20Ruth,%20me%20interesa%20saber%20sobre%20Yanbal">
                    conversa conmigo vía WhatsApp</a>
                  y te explicaré a detalle el inicio de la carrera de liderazgo Yanbal
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseDirectoraThree" aria-expanded="false"
                  aria-controls="flush-collapseDirectoraThree">
                  ¿Cuánto gana un@ director@ independiente Yanbal?
                </button>
              </h2>
              <div id="flush-collapseDirectoraThree" class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Como director@ independiente podrás ganar por tus ventas pero también por
                  las
                  ventas de l@s consultor@s que incorporaste. Así que a más consultor@s, más ganancias. además si tus
                  consultor@s también ascienden al estatus de directoras independientes, lás gananciás irán creciendo
                  para tí.
                  Lo mejor de ser la lider de tu propio emprendimiento es que tus ganancias como director@ dependen de
                  ti.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseDirectoraFour" aria-expanded="false"
                  aria-controls="flush-collapseDirectoraFour">
                  ¿En cuánto tiempo puedo convertirme en directora independiente Yanbal?
                </button>
              </h2>
              <div id="flush-collapseDirectoraFour" class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">El tiempo varía para cada persona. Pero con el apoyo de Yanbal y el mío,
                  ¡puedes
                  adquirir el estatus de director@ independiente Yanbal en 3 meses!
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseDirectoraFive" aria-expanded="false"
                  aria-controls="flush-collapseDirectoraFive">
                  ¿Hasta que edad puedo ser director@?
                </button>
              </h2>
              <div id="flush-collapseDirectoraFive" class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">No hay limite de edad para ser director@ independiente o para dejar de
                  serlo.
                  ¡Solo tú lo decides!
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="productos" role="tabpanel" aria-labelledby="productos-tab">
        <h3 style="margin: 20px;">¿Nuestros productos?</h3>
        <div style="margin: 20px;">
          <div class="accordion accordion-flush" id="accordionProductos">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseProductosOne" aria-expanded="false"
                  aria-controls="flush-collapseProductosOne">
                  ¿Yanbal testea en animales?
                </button>
              </h2>
              <div id="flush-collapseProductosOne" class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  Puedes estar tranquil@, como parte de una Corporación Internacional Latinoamericana y Europea,
                  aplicamos
                  las reglamentaciones internacionales de la industria cosmética, cumpliendo entre ello, con las
                  exigencias
                  normativas de la Union Europea que prohibe hacer pruebas en animales respecto a materias primas y
                  producto final.
                  No te preocupes, no hacemos pruebas en animales y por tanto damos cumplimiento riguroso a las
                  exigencias normativas
                  al respecto
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseProductosTwo" aria-expanded="false"
                  aria-controls="flush-collapseProductosTwo">
                  ¿Cómo prueba Yanbal sus productos?
                </button>
              </h2>
              <div id="flush-collapseProductosTwo" class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Realizamos dos tipos de pruebas: de seguridad y eficacia. La primera es para
                  asegurarnos que
                  los productos no generar ningún tipo de reacción adversa en la piel u ojos: y la segunda, para
                  sustentar todos los
                  beneficios del producto. Dependiendo del tipo de prueba, estas son realizadas en un panel de
                  voluntarios bajo control
                  dermatológico y/o oftalmológico en laboratorios de pruebas clínicas.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseProductosThree" aria-expanded="false"
                  aria-controls="flush-collapseProductosThree">
                  ¿Yanbal es vegano?
                </button>
              </h2>
              <div id="flush-collapseProductosThree" class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">No completamente, nuestro catalogo ya cuenta con muchos productos 100%
                  veganos, pero algunos de
                  nuestros productos contienen ingredientes de origen animal o derivados como la cera de abeja o leche.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseProductosFour" aria-expanded="false"
                  aria-controls="flush-collapseProductosFour">
                  ¿Los productos de Yanbal son sostenibles?
                </button>
              </h2>
              <div id="flush-collapseProductosFour" class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">En Yanbal tenemos un firme compromiso con la sostenibilidad que enmarca
                  entre otros, su responsabilida
                  con el medio ambiente; por ello, buscamos minimizar el impacto ambiental en todos sus procesos
                  mediente el uso responsable
                  de los recursos. De esta manera, buscamos prevenir y/o mitigar los impactos que se pudieran generar
                  por la fabricacion de sus
                  productos o los respectivos procesos.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseProductosFive" aria-expanded="false"
                  aria-controls="flush-collapseProductosFive">
                  ¿Los productos de Yanbal tienen fecha de vencimiento?
                </button>
              </h2>
              <div id="flush-collapseProductosFive" class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Te comentamos que en general en los productos cosmeticos no se incluye la
                  fecha de caducidad
                  sino el tiempo en meses en el que el producto debe ser usado una vez abierto. En nuestros productos
                  esta información la
                  encontrarás en la parte inferior del lado derecho del empaque.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>