

<div class="container my-5" id="testimonios">
    <h2>Testimonios</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card testimonial-card">
          <iframe width="100%" height="250" src="https://www.youtube.com/embed/pEgKqFm4SyE?si=4h0RwTy6--AsuS7f"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
          <div class="card-body">
            <h5 class="card-title">Jessica Portugal</h5>
            <p class="card-text">'Gracias a Yanbal descubrí talentos ocultos en mí, con su constante asesoría
              y entrenamiento logré sacar una mejor version de mí misma y ahora me siento un ejemplo a seguir,
              tanto así que hoy mi esposo no solo es director sino que además está próximo a ganarse su primer auto'</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card testimonial-card">
          <iframe width="100%" height="250" src="https://www.youtube.com/embed/Oj3JmKBHRHg?si=rsWUDIWH-LGHcBcQ"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
          <div class="card-body">
            <h5 class="card-title">Deborah Aviléz</h5>
            <p class="card-text">'Yanbal llegó a mi vida cuando más lo necesitaba, aquí encontré realización personal,
              libertad económica, independencia, flexibilidad, ser mi propio jefe me conquistó y es así como Yanbal
              cambió mi vida'</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card testimonial-card">
          <iframe width="100%" height="250" src="https://www.youtube.com/embed/udphBO1vCQU?si=Wf1wUZM32HxaUzsK"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
          <div class="card-body">
            <h5 class="card-title">Verónica Ayala</h5>
            <p class="card-text">'Con Yanbal tuve más ganancias, logré mi auto y es una bendición porque mis hijos están
              enamoradisimos con eso. Esto es para mi familia, gané esto para ellos y me siento feliz de haberlo
              logrado'
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>